{#
/**
 * @file
 * Created by stefan on 12/8/17
 *
*/
#}

<section class="section-our-strengths">

    <div class="row">
        <div class="our-strengths">
            <h2 class="heading-secondary heading-secondary--black">
                {{ "ONZE TROEVEN"|t }}
            </h2>
            <div class="col-md-6 our-strengths__column">
                <a href="{{ base_path }}node/41">
                    <div class="our-strengths__icon our-strengths__icon--location"></div>
                </a>
                <div class="our-strengths__content">
                    <h3 class="heading-tertiary heading-tertiary--black">{{ "LIGGING"|t }}</h3>
                    <p>{{ "Ideaal gelegen tussen campus Diepenbeek en stad Hasselt"|t }}</p>
                </div>
            </div>
            {# end our-strengths__col #}

            <div class="col-md-6 our-strengths__column">
                <a href="{{ base_path }}node/42">
                    <div class="our-strengths__icon our-strengths__icon--recreation"></div>
                </a>
                <div class="our-strengths__content">
                    <h3 class="heading-tertiary heading-tertiary--black">{{ "ONTSPANNING"|t }}</h3>
                    <p>{{ "Tafeltennis, snooker, pool, darts en fitness voorzien."|t }}</p>
                </div>
            </div>
            {# end our-strengths__col #}
        </div>
        {# end our-strengths #}
    </div>
</section>