{#
/**
 *
*/
#}
{% set classes = [
'node',
'node--type-' ~ node.bundle|clean_class,
node.isPromoted() ? 'node--promoted',
node.isSticky() ? 'node--sticky',
not node.isPublished() ? 'node--unpublished',
view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
] %}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}>
      {{ label }}
    </h2>
  {% endif %}
  {{ title_suffix }}


  <div{{ content_attributes.addClass('pages-content') }}>
    <div class="col-md-4">
      <div class="page-content__image">
        {{ content.field_img_accomm_pand }}
      </div>
    </div>
    <div class="col-md-8">
      <div class="page-content__body">
        <div class="available-message">
          {{ content.field_aantal_vrij }}
        </div>
        {{ content.body }}
      </div>
    </div>

    {#
    /**
    * Layout floor
    * De volledige opmaak in een aangepaste blok geplaatst, dit om een verschil te
    * hebben tussen rooistraat en steenweg
    * Hieronder de oorspronkelijke code
    *
    * <div class="col-md-12">
    *   <div class="layout-floor">
    *     <h2>Verdieping</h2>
    *     <div class="floor-wrap">
    *       <div class="floor">
    *        <h3>Gelijkvloers</h3>
    *        <img src="{{ base_path ~ directory }}/html_images/gelijkvloers-Steenweg-wit.png" alt="gelijkvloers">
    *      </div>
    *      <div class="floor">
    *        <h3>1ste verdieping</h3>
    *        <img src="{{ base_path ~ directory }}/html_images/eerste-verdieping-Steenweg.png" alt="">
    *      </div>
    *      <div class="floor">
    *        <h3>2de verdieping</h3>
    *        <img src="{{ base_path ~ directory }}/html_images/tweede-verdieping.png" alt="">
    *      </div>
    *      <div class="floor">
    *        <h3>3de verdieping</h3>
    *        <img src="{{ base_path ~ directory }}/html_images/derde-verdieping-Steenweg.png" alt="">
    *      </div>
    *    </div>
    *  </div>
    */
    #}

    {#
    /**
    * De region floor dient ook toegevoegd aan jpkot.theme file onder $allowed_regions
    */
    #}
    {{ floors }}


    {#
    /**
    * block region accommodation dient ook toegevoegd aan jpkot.theme file onder $allowed_regions
    *
    */
     #}

    {# TODO ga dit een een betere/andere naam moeten geven #}

    <div class="col-md-12">
      <div class="page-content-description-wrap">
        {{ accommodation }}
      </div>
    </div>

  </div>
  {# end .pages-content #}
</article>
