{#
/**
 * View block Prijzen teaser on the frontpage.
 * url: Direct URL of the current node.
 * {{ label }} prints next html <span class="field field--name-title field--type-string">Title</span>
 * {{ node.label }} prints Title
 * {{ node.label|upper }} prints the title in uppercase
 * {{ label|upper }} - gives no result
 #}

{% set classes = [
'price-4-content',
] %}

<div {{ attributes.addClass(classes) }}>
  <h2{{ title_attributes }}>{{ node.label|upper }}</h2>
  {{ content }}
</div>

<div class="btn-wrap">
  <a href="{{ url }}" rel="bookmark" class="btn btn-price">{{ 'MEER'|t }}</a>
</div>

