{#
/**
 * @file
 * Theme override to display a node.
 *
 */
#}
{% set classes = [
'node',
'node--type-' ~ node.bundle|clean_class,
node.isPromoted() ? 'node--promoted',
node.isSticky() ? 'node--sticky',
not node.isPublished() ? 'node--unpublished',
view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
] %}
{{ attach_library('classy/node') }}

<article{{ attributes.addClass(classes) }}>

    {{ title_prefix }}
    {% if not page %}
        <h2{{ title_attributes }}>
            {{ label }}
        </h2>
    {% endif %}
    {{ title_suffix }}

    <div{{ content_attributes.addClass('node__content') }}>

        <div class="row">
            <div class="studio">

                <div class="col-md-7">
                    <div class="studio__floorplan">
                        {{ content.field_img_inrichting }}
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="studio__description">
                        <div class="studio__description-available-messages u-margin-bottom--default">
                            {#
                            /**
                             * Is enkel mogelijk met een extra module twig_field_value
                             * https://www.drupal.org/project/twig_field_value
                             * set available = content.field_beschikbaar|render|lower
                             * set available = content.field_beschikbaar|field_raw.value|lower
                             * content.field_beschikbaar|field_label voor het label
                             */
                             #}
                            {% set available = content.field_beschikbaar|field_raw.value|lower %}

                            {% if available == 'vrij' %}
                                <div class="studio__description-available studio__description-available--free">
                                    {{ 'Studio is nog beschikbaar'|t }}
                                </div>
                            {% else %}
                                <div class="studio__description-available studio__description-available--occupied">
                                    {{ 'Studio is reeds verhuurd'|t }}
                                </div>
                            {% endif %}
                        </div>

                        <div class="studio__description-body">
                            {{ content.body }}
                        </div>


                        {% if content.field_kamer_prijs[0] is not empty %}
                            <div class="studio__description-price">
                                {{ content.field_kamer_prijs }}
                            </div>
                        {% endif %}

                        <div class="studio__description-backto">
                            <script>
                                document.write('<a href="' + document.referrer + '">Terug naar overzicht</a>');

                            </script>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
</article>
