{#
/**
 * View block Prijzen teaser on the frontpage.
 * url: Direct URL of the current node.
 * {{ label }} prints following html <span class="field field--name-title field--type-string">Title</span>
 * {{ node.label }} prints Title
 * {{ node.label|upper }} prints the title in uppercase
 * nevertheless set uppercase in sass on component .btn
 * {{ label|upper }} - gives no result
 #}

{% set classes = [
'price__content',
] %}

<div {{ attributes.addClass(classes) }}>
  <h2 class="heading-secondary heading-secondary--black">{{ node.label }}</h2>

  <div class="price__content-body">
      {{ content }}
  </div>

</div>

<div class="readmore readmore--price">
  <a href="#popup-price" rel="bookmark" class="btn btn--price">{{ 'MEER INFORMATIE'|t }}</a>
</div>

