{#
/**
 * View block Prijzen teaser dit op de frontpage
 #}

{% set classes = [
'price-content',
] %}

<div {{ attributes.addClass(classes) }}>
  <h2{{ title_attributes }}>{{ label }}</h2>
  {{ content }}
</div>

<div class="btn-wrap">
  <a href="{{ url }}" rel="bookmark" class="btn btn-price">MEER</a>
</div>

