{#
/**
 *
*/
#}
{% set classes = [
'node',
'node--type-' ~ node.bundle|clean_class,
node.isPromoted() ? 'node--promoted',
node.isSticky() ? 'node--sticky',
not node.isPublished() ? 'node--unpublished',
view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
] %}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}>
      {{ label }}
    </h2>
  {% endif %}
  {{ title_suffix }}


  <div{{ content_attributes.addClass('pages-content') }}>
    <div class="col-md-4">
      <div class="page-content__image">
        {{ content.field_img_accomm_pand }}
      </div>
    </div>
    <div class="col-md-8">
      <div class="page-content__body">
        <div class="available-message">
          {{ content.field_aantal_vrij }}
        </div>
        {{ content.body }}
      </div>
    </div>

    {# block region accommodation #}
    {# TODO ga dit een een betere/andere naam moeten geven #}

    <div class="col-md-12">
      <div class="page-content-description-wrap">
        {{ accommodation }}
      </div>
    </div>

  </div>

</article>
