<div class="menu-right-wrapper menu-right__visible">
  <div class="close-btn">
    <img src="{{ base_path ~ directory }}/images/close.png" alt="close">
  </div>
  <div class="menu-items-wrap">
    <div class="menu-items">
      <ul>
        <li class="menu-item"><a href="#">HOME</a></li>
        <li class="menu-item"><a href="#">STEENWEG 190</a></li>
        <li class="menu-item"><a href="#">ROOISTRAAT 50</a></li>
        <li class="menu-item"><a href="#">PRIJZEN</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  {% include directory ~ '/templates/partials/header.html.twig' %}

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <section class="page-content-wrap">
      {{ page.content }}
    </section>
  </main>

  {% include directory ~ '/templates/partials/footer.html.twig' %}
</div>
